<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Lable1</key>
		<string>A</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>B</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>C</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>D</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>E</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>F</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>G</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>H</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>I</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>J</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>K</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>L</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>M</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>N</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>O</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>P</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>Q</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>R</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>S</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>T</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>U</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>V</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>W</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>X</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>Y</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Lable1</key>
		<string>Z</string>
		<key>Lable2</key>
		<string>0</string>
	</dict>
</array>
</plist>
